<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top bg">
    <div class="container">
        <section class="footer-top  padding-y">
            <div class="row">
                <aside class="col-md col-6">
                    <h6 class="title">Brands</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#">Adidas</a></li>
                        <li> <a href="#">Puma</a></li>
                        <li> <a href="#">Reebok</a></li>
                        <li> <a href="#">Nike</a></li>
                    </ul>
                </aside>

                <aside class="col-md col-6">
                    <h6 class="title">Account</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#"> User Login </a></li>
                        <li> <a href="#"> User register </a></li>
                        <li> <a href="#"> Account Setting </a></li>
                        <li> <a href="#"> My Orders </a></li>
                    </ul>
                </aside>
                <aside class="col-md">
                    <h6 class="title">Social</h6>
                    <ul class="list-unstyled">
                        <li><a href="https://www.facebook.com/khoi.phanx"> <i class="fab fa-facebook"></i> Facebook </a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UCBH4q2KJ3ASNw2QyZs5NX1A"> <i
                                    class="fab fa-youtube"></i> Youtube </a></li>
                    </ul>
                </aside>
            </div> <!-- row.// -->
        </section> <!-- footer-top.// -->

        <section class="footer-bottom row">
            <div class="col-md-2">
                <p class="text-muted"> 2022 Design by Phan Dinh Khoi </p>
            </div>
            <div class="col-md-8 text-md-center">
                <span class="px-2">info@com</span>
                <span class="px-2">+000-000-0000</span>
                <span class="px-2">Street name 123, ABC</span>
            </div>

        </section>
    </div><!-- //container -->
</footer>